<div class="row">
  <div class="small-8 large-centered columns">
    <div class='center-text'>
      <h3>You're searching from <%= @location %></h3>
      <div class='small-text'>
        <p>(we're coming for you)</p>
      </div>
      <div class='padding-twenty'>
        <iframe
          width="600"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_KEY'] %>
            &q=<%= @city %>, <%= @region %>
            &attribution_source=Google+Maps+Embed+API
            &attribution_ios_deep_link_id=comgooglemaps://?daddr=<%= @city %>, <%= @region %>">
        </iframe>
      </div>
    </div>

    <div class="main-list">
      <ul class='no-bullets'>
        <% @places.each do |place| %>
          <li>
            <h4><%= link_to "#{place['name']}", park_path(place['place_id']) %></h4>
            <ul><li>Rating: <%= place["rating"] %></li></ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="footer">
  <%= link_to "GTFOutside", root_path %> created by <a href="https://github.com/bsterno">Brian Stern</a>,
  <a href="https://github.com/APKirstein">Drew Kirstein</a>, &&
  <a href="https://github.com/jraenorris">Jesse Norris</a>
</div>
