<h2><%= @place_info['name'] %></h2>

<div class="main-list">
  <% unless @place_info['rating'] == nil %>
    <h4>Overall Rating: <%= @place_info['rating'] %></h4>
  <% end %>
  <p><%= @place_info['formatted_address'] %></p>

  <div class='padding-twenty'>
    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_KEY'] %>
        &q=<%= @place_info['name'] %>, <%= @city %>, <%= @region %>
        &attribution_source=Google+Maps+Embed+API
        &attribution_ios_deep_link_id=comgooglemaps://?daddr=<%= @city %>, <%= @region %>">
    </iframe>
  </div>

  <div class="hours">
    <% unless @place_info["opening_hours"] == nil %>
      <ul class='no-bullets'>
      <% @place_info["opening_hours"]["weekday_text"].each do |day| %>
        <li><%= day %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <div class="reviews">
    <% unless @reviews == nil %>
      <table>
        <tr>
          <th>Rating</th>
          <th>Review</th>
        </tr>
        <% @reviews.each do |review| %>
          <tr>
            <td class='rating-font center-text'><%= review["rating"] %></td>
            <% if !review["text"].empty? %>
              <td><%= review["text"] %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="footer">
    <%= link_to "GTFOutside", root_path %> created by <a href="https://github.com/bsterno">Brian Stern</a>,
    <a href="https://github.com/APKirstein">Drew Kirstein</a>, &&
    <a href="https://github.com/jraenorris">Jesse Norris</a>
  </div>
</div>
