<h1><strong><%= @place_info['name'] %></strong></h1>
<div>
  <% unless @place_info['rating'] == nil %>
    <p>Overall Rating: <%= @place_info['rating'] %></p>
  <% end %>
</div>

<div class="address">
  <%= @place_info['formatted_address'] %>
</div>

<div>
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_KEY']}
      &q=<%= @place_info['name'] %>, <%= @city %>, <%= @region %>
      &attribution_source=Google+Maps+Embed+API
      &attribution_ios_deep_link_id=comgooglemaps://?daddr=<%= @city %>, <%= @region %>">
  </iframe>
</div>

<div class="hours">
  <% unless @place_info["opening_hours"] == nil %>
    <% @place_info["opening_hours"]["weekday_text"].each do |day| %>
      <li><%= day %></li>
    <% end %>
  <% end %>
</div>

<div class="reviews">
  <% unless @reviews == nil %>
    <table>
      <tr>
        <th>Rating</th>
        <th>Review</th>
      </tr>
      <% @reviews.each do |review| %>
        <tr>
          <td>Rating: <%= review["rating"] %></td>
          <% if !review["text"].empty? %>
            <td>Review: <%= review["text"] %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
