<header>

  <h1><strong><%= park %></strong></h1>

  <div>
    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBRo-mtutP62p-Z5mPGwgZj0fArDw7e_7A
        &q=<%= park %>, <%= city %>, <%= region %>
        &attribution_source=Google+Maps+Embed+API
        &attribution_ios_deep_link_id=comgooglemaps://?daddr=<%= city %>, <%= region %>">
    </iframe>
  </div>

  <div>
    <ul>
      <% unless place_reviews == nil %>
        <% place_reviews.each do |place| %>
          <% if place["text"].empty? == false %>
            <li><%= place["text"] %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div>
    <ul>
      <% unless place_info["result"]["opening_hours"] == nil %>
        <% place_info["result"]["opening_hours"]["weekday_text"].each do |day| %>
          <li><%= day %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div>
    <a href="/gtfo">Home</a>
  </div>

  <div>
    Created by <a href="https://github.com/bsterno">Brian Stern</a> and <a href="https://github.com/APKirstein">Drew Kirstein</a>
  </div>
</header>
